<!-- トップページHTML -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>例題</title>
</head>

<body>
    <div id="app">
        <h2>アカウント作成</h2>
        パスワード:<input type="password" name="pass" v-model="pass" />
        パスワード確認:<input type="password" name="spass" v-model="spass" />
        <button v-if="isButtonEnabled">登録</button>
        <button v-else disabled>使用不可</button>
        <p v-if="shouldShowMismatchMessage">パスワードが一致しません</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script/script.js"></script>
</body>

</html>